.App {
  background: url('./assets/img/wallpaper.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  padding: 0 0 50px 0;
  /* position: absolute; */
}

* {
  font-family: 'IBM Plex Mono', monospace;
}